<div class="shadow rounded p-4 w-64 m-12">
  <div class="bg-gray-200 h-48 mb-4">
    
  </div>
  <div class="text-gray-900 font-bold text-xl mb-2" data-test-name>
    {{@office.name}}
  </div>
  <p class="text-gray-700 text-base" data-test-street>
    {{@office.street}}
  </p>
  <p class="text-gray-700 text-sm" data-test-city-state-zip>
    {{@office.city}}, {{@office.state}} {{@office.zip}}
  </p>
  <p class="text-gray-600 text-sm mt-1" data-test-phone>
    {{@office.phone}}
  </p>
</div>

