{{#each @model as |office|}}
  <div class="w-full flex justify-center m-12">
    <div class="shadow rounded p-4 w-2/3 flex justify-between items-center">
        <div class="text-gray-900 font-bold text-xl mb-2">
          {{office.name}}
        </div>
        <p class="text-gray-600 text-base">
          {{office.street}}
        </p>
        <p class="text-gray-600 text-sm">
          {{office.city}}, {{office.state}} {{office.zip}}
        </p>
      </div>
    </div>
  </div>
{{/each}}
